.inline {
    display:inline;
}

/* flex-related */

.flex {
    display:flex;
}

.flexcol {
    flex-direction:column
}

.just-between {
    justify-content: space-between;
}

.just-around {
    justify-content: space-around;
}

.just-evenly {
    justify-content: space-evenly;
}

/* list */

.nodots {
    list-style-type: none;
}

/* Other */

.nomargin {
    margin:0;
}

.txtwhite {
    color: white;
}

.div {

    margin-top:25px;
    margin-bottom:25px;
}

.red {
    border-color:red;
}

.center {
    text-align:center;
}

.mauto {
    margin:auto;
}

.pauto {
    padding:auto;
}
/* images */

.win95img {
    width:32px;
    height:32px;
}

/* Tables */
.tb1 {
    border-width: 2px;
    border-style: groove;
    border-radius: 3px;
    margin:auto;
    width:90%;
}

.txt {
    text-align:center;
}

.tb1 tr th {
    border-width: 2px;
    border-style: groove;
    background-color:lightcoral;
    text-align: center;
}

.tb1 tr td {    
    border-width: 2px;
    border-style: groove;
    background-color:lightgrey;
    text-align: center;
}

/* navbars */

.nav1 .nav1 {
    background-color:black;
    color:white;
}


.nav1 ul {
    margin:0px;
    padding:0px;
}

.nav1 li {
    display:inline-block;
    font-size: 25px;
    list-style-type: none;
    text-align:center;
    padding: 16px 14px;
}

.nav1 li:hover {
    background-color:green;
}

.navimg {
    width:75px;
    height:75px;
}

.nav2 {
    background-color:black;
    color:white;
    font-size: 25px;
}

.nav2 ul {
    display:flex;
    list-style-type: none;
    padding:0px;
}

.nav2 .li1 {
    background-color: blueviolet;
    flex: 1;
    padding: 16px 14px;
    text-align: center;
}

.nav2 .li2 {
    flex: 10
}

.nav2 .li1:hover {
    background-color: green;
}

.nav2 .li3 {
    background-color: blueviolet;
    flex: 2;
    padding: 14px;
    text-align: center;
}

.nav2 .li3:hover {
    background-color: green;
}

.nav3 {

    background-color:rgb(26, 29, 71);
    border-radius: 10px;
    margin-top: 15px;
    margin-bottom:15px;
}


.contents1 {
    flex:2;
}

/*
.nav3 .div1 {
    margin: 15px;
    padding: 20px;
}
*/
.nav3 .li1 {
    padding: 16px 14px;
}

.nav3 ul li:hover {
    background-color: green;
}

.nav3 .li3 {

    padding: 16px 14px;
}

/* nav4 */

.nav4 {
    background-color: rgb(26, 29, 71);
    border-radius:10px;
    color:white;
}
.nav4 .li1 {
    flex: 1 1 auto;
    text-align:center;
    width: 75px;
    padding:15px;
}

.nav4 .li3 {
    flex: 2 1 auto;
    width: 100px;
    text-align:center;
    padding:15px;
}

.nav4 .li1:hover {
    background-color:green;
}

.nav4 .li3:hover {
    background-color: green;
}

.nav4 .img {
    margin: auto;
    margin-right: 10%;
    
}

.nav4 .img .win95img {
    margin:10px;
}

/* flexbox page */

.box1 {
    background-color: pink;
    border-color: red;
    border: 5px solid red;
    border-radius: 10px;
    text-align:center;
    flex: 1 1 150px;
}

.box2 {
    background-color: pink;
    border-color: red;
    border: 5px solid red;
    border-radius: 10px;
    text-align:center;
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: auto;
    width: 75%;
}

.box3 {

    height: 550px;
   
    background-color: pink;
    border-color: red;
    border: 5px solid red;
    border-radius: 10px;
    text-align:center;
    flex: 1 1 150px;
}

.box4 {   
    background-color: pink;
    border-color: red;
    border: 5px solid red;
    border-radius: 10px;
    text-align:center;
    flex: 1 1 0;

}

.height1 {
    height: 100px;
}

.height2 {
    height:50px;
}

.box_a {

    background-color: pink;
    border-color: red;
    border: 5px solid red;
    border-radius: 10px;
    text-align:center;
    padding: 15px;
    width:fit-content;
    margin:auto;
}

.box4 table {
    border-style: groove;
    border-color: blue;
    border-width: 3px;
    margin: 25px;
    border-radius:5px;
}

.box4 table tr td {
    border-style: groove;
    border-width: 3px;
    margin:0;
    padding:5px;
}

.tableh2 {
    background-color:brown;
    border-color:white;
}

.case {
    flex: 1 1 45%;
}

.div2 {
    width:100%;
}

.col2 {
    width:45%;
}

.box5 {
    background-color: pink;
    border-color: red;
    border: 5px solid red;
    border-radius: 10px;
    text-align:center;
    flex: 1 1 0;
    padding:15px;
}